@model IEnumerable<HFlower.Models.Flower>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container" style="padding-top:85px;">
    <div class="row">
        <div class="col-md-3">
            <h4>Filter by Color</h4>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="red" id="colorRed">
                <label class="form-check-label" for="colorRed">Red</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="blue" id="colorBlue">
                <label class="form-check-label" for="colorBlue">Blue</label>
            </div>

            <h4>Meaning</h4>
            <select class="form-select" id="meaningFilter">
                <option value="">All</option>
                <option value="love">Love</option>
                <option value="peace">Peace</option>
                <option value="joy">Joy</option>
                <!-- Add more meaning options as needed -->
            </select>

        </div>

        <div class="col-md-6">
            @foreach (var item in Model)
            {
                <a asp-action="Details" asp-route-id="@item.Id">
                    <div class="card">
                        <img decoding="async" src="@("~/images/"+item.ImgLink)" asp-append-version="true" width="250px" height="250px" />
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                        </div>
                    </div>
                </a>
                <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id">
                    Add to cart
                </a>


            }
        </div>
    </div>



</div>
